{%- extends "basic/layout.html" %}

{% block extrahead %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20962303-1']);
  _gaq.push(['_setDomainName', '.sublimetext.info']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}

{% block document %}
<p style="font-size: 15pt; font-weight: bold; border: 1px solid black; padding: 0.3em 0.3em 0.3em 0.3em">
We're rewriting these help files for Sublime Text 2, so be warned: specific details in some topics only apply for Sublime Text 1.x.
</p>

{{ super() }}
{% endblock %}
